footer i {
  margin-right: 30px;
}

form button {
  border-radius:20px;
  display: flex;
margin-left: 40%;
margin-top: 40px;
padding: 5px 25px 5px;
background-color: #846add;
}

#pad {
  margin-left:10px;
}
